.laughbanner{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: -20;
    top: 60px;
    margin-bottom: 4vh;
}

.laughmain{
    height: 100vh;
    width: 100%;
}

.imgSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 105vh;
}

.laughimg{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.laughcontent{
    position: relative;
    bottom: 92vh;
    left: 65vw;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-transform: uppercase;
    color: white;
    width: 30vw;
}

.textimg{
    width: 50vw;
}

.quoteimg{
    width: 40vw;
}

.authorimg{
    width: 8vw;
}

.laugh1{
    position: absolute;
    top: 14.8%;
    left: 5%;
    width: 80vw;
    height: 80vh;
    z-index: 5;
}

.laugh2{
    position: absolute;
    top: 5%;
    left: 0%;
    width: 80vw;
    height: 80vh;
}

.laugh3{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 80vw;
    height: 80vh;
    z-index: 3;
}
.laugh4{
    position: absolute;
    top: 5%;
    left: 6%;
    width: 80vw;
    height: 80vh;
}
.laugh5{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 80vw;
    height: 80vh;
}
.laugh6{
    position: absolute;
    top: 10%;
    left: 8%;
    width: 80vw;
    height: 80vh;
}
.laugh7{
    position: absolute;
    top: 25%;
    left: 1%;
    width: 80vw;
    height: 80vh;
}
.laugh8{
    position: absolute;
    top: 13%;
    left: 5%;
    width: 80vw;
    height: 80vh;
}
.laugh9{
    position: absolute;
    top: 50%;
    width: 80vw;
    height: 80vh;
}

@media only screen and (min-width: 1300px) {
    .laughbanner{
        margin-bottom: 20px;
    }
    .laugh1{
        top: 14.8%;
        left: 5%;
    }
    .laugh9{
        top: 14.5%;
        left: 18.4%;
    }
}

@media only screen and (max-width: 768px) {
    .laughcontent{
        width: 50vw;
        left: 50vw;
        bottom: 95vh;
    }
    .laugh1{
        top: 10%;
        left: 5%;
    }
    .laugh9{
        top: 10%;
        left: 18%;
    }
}

@media only screen and (max-width: 510px) {
    .laughbanner{
        margin-bottom: 8vh;
    }
}

@media only screen and (max-width: 480px) {
    .laugh1{
        top: 9%;
        left: 5%;
    }
    .laugh9{
        top: 9%;
        left: 18%;
    }
}

@media only screen and (max-width: 400px) {
    .laugh1{
        top: 7%;
        left: 5%;
    }
    .laugh9{
        top: 7%;
        left: 18%;
    }
}