.maindiv {
  padding-top: 0px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.imgsection {
  position: relative;
  top: -10px;
  height: 70%;
  width: 70%;
}

.imagegradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  border-radius: 8px;
  z-index: 1;
}

.contentbox {
  position: absolute;
  bottom: 5%;
  left: 3%;
  z-index: 1;
}

.imgheadingfont {
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 500;
}

.imgcontent {
  color: #FFFFFF;
  font-size: 14px;
  width: fit-content;
  font-weight: 500;
  border-bottom: 1px solid #FFFFFF;
  cursor: pointer;
}

.productimage {
  height: 100%;
  width: 100%;
}

.headingfontimg {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
}

.contentimg {
  color: #FFFFFF;
  font-size: 0.5vw;
  font-weight: 500;
  border-bottom: 1px solid #FFFFFF;
  width: fit-content;
}

@media only screen and (max-width: 1200px) {
  .allimgsection {
    width: 100%;
  }
}

  @media only screen and (max-width: 990px) {
    .headingfontimg {
      font-size: 20px !important;
    }

    .headingfont {
      font-size: 28px;
    }

    .allimgcontent {
      font-size: 12px;
    }

    .content {
      font-size: 14px;
    }

    .maindiv {
      padding: 20px;
    }

    .imgcontent {
      font-size: 12px;
    }

  }

  @media only screen and (max-width: 600px) {
    .maindiv {
      padding-left: 20px;
      padding-right: 20px;
    }

    .headingfontimg {
      font-size: 18px !important;
    }

    .products {
      height: 35%;
    }
  }

  @media only screen and (max-width: 425px) {
    .imgheadingfont {
      font-size: 18px;
    }

    .headingfontimg {
      font-size: 14px !important;
      margin-bottom: 2px;
    }

    .headingfont {
      font-size: 25px;
    }

    .content {
      font-size: 13px;
    }

    .allimgcontent {
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 320px) {
    .imgheadingfont {
      font-size: 14px;
    }

    .headingfontimg {
      font-size: 10px !important;
      margin-bottom: 2px;
    }

    .headingfont {
      font-size: 25px;
    }

    .imgcontent {
      font-size: 10px;
    }

    .allimgcontent {
      font-size: 8px;
    }
  }

/* all product css  */
.container {
  height: 300vh;
  position: relative;
}

.sticky{
  position: sticky;
  overflow: hidden;
  top: 0;
  height: 100vh;
}

.el {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el .imageContainer {
  position: relative;
  bottom: 10vh;
  width: 25vw;
  height: 38vh;
}

.el:nth-of-type(2) .imageContainer {
  top: 30vh;
  left: -27vw;
  width: 25vw;
  height: 38vh;
}

.el:nth-of-type(3) .imageContainer {
  top: -10vh;
  left: -27vw;
  width: 25vw;
  height: 38vh;
}

.el:nth-of-type(4) .imageContainer {
  top: -10vh;
  left: 27.5vw;
  width: 25vw;
  height: 38vh;
}

.el:nth-of-type(5) .imageContainer {
  top: 30vh;
  left: 0vw;
  width: 25vw;
  height: 38vh;
}

.el .imageContainer img {
  object-fit: cover;
  border-radius: 8px;
}

.imageContainer {
  position: relative;
  width: 100%;
}

.imagegradient {
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  border-radius: 8px;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}

.contentbox {
  position: absolute;
  bottom: 5%;
  left: 3%;
  z-index: 1;
}

.headingfontimg {
  color: #FFFFFF;
  font-size: 1.5vw;
  font-weight: 500;
}

.imgcontent {
  color: #FFFFFF;
  font-size: 12px;
  width: fit-content;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid #FFFFFF;
}

@media only screen and (max-width: 1440px) {
  .imgsection {
      width: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  .imgsection {
      width: 75%;
  }
}

@media only screen and (max-width: 1000px) {
  .imgsection {
      width: 85%;
  }
}

@media only screen and (max-width: 900px) {
  .imgsection {
      width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .headingfontimg{
      font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .maindiv {
      padding-left: 20px;
      padding-right: 20px;
  }
  .headingfontimg{
      font-size: 15px;
  }
  .imgcontent{
      font-size: 12px;
  }
}
@media only screen and (max-width: 425px) {
  .headingfontimg{
      font-size: 12px;
  }
  .imgcontent{
      font-size: 8px;
  }
}