.maindiv {
    height: calc(100vh - 150px);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FAFAFA;
}

.learnmorebtn {
    color: #265EE1;
    border: 1px solid #265EE1;
    height: 8%;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

.carousel {
    width: 2%;
}

.headingfont {
    color: #08132D;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.card {
    box-shadow: 0px 5.791126251220703px 57.91126251220703px 0px #D8D8D840;
    background-color: #FFFFFF;
}

.title {
    height: 10%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.content {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    color: #4C5877;
}

.cardimg {
    height: 50%;
}

.cardtext {
    height: 22%;
    overflow: hidden;
}

.caroselwidth {
    height: 80%;
}

@media only screen and (max-width: 1000px) {
    .maindiv {
        padding: 20px;
    }
}

@media only screen and (max-width: 990px) {
    .headingfont {
        font-size: 25px;
    }

    .card {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    .cardtext {
        font-size: 13px;
    }

    .content {
        font-size: 14px;
    }

    .maindiv {
        height: calc(100vh - 150px);
    }
}

@media only screen and (max-width: 576px) {
    .cardgroup {
        display: flex;
        flex-flow: row wrap
    }

    .card {
        flex: 1 0 0%;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 425px) {
    .maindiv {
        height: calc(100vh - 130px);
    }
}

@media only screen and (max-width: 375px) {
    .card {
        padding: 0.5rem !important;
    }
}