.herobanner{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    z-index: -20;
    top: 50px;
    /* margin-bottom: 10vh; */
}

.heromain{
    height: 100vh;
    width: 98vw;
}

.imgSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 105vh;
}

.heroimg{
    height: 100vh;
    width: 98vw;
}

.herocontent{
    position: relative;
    bottom: 30vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textimg{
    width: 60vw;
}
.quoteimg{
    width: 40vw;
}
.authorimg{
    width: 8vw;
}

@media only screen and (min-width: 1300px) {
    .herobanner{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .herobanner{
        margin-bottom: 50px;
    }
    .quoteimg{
        width: 50vw;
    }
    .authorimg{
        width: 10vw;
    }
}

@media only screen and (max-width: 510px) {
    .herobanner{
        margin-bottom: 60px;
    }
    .quoteimg{
        width: 60vw;
    }
    .authorimg{
        width: 12vw;
    }
}