.skybanner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    position: relative;
    z-index: -20;
    top: 100px;
    /* margin-bottom: 10vh; */
}

.skymain{
    height: 100vh;
    width: 100vw;
}

.imgSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 105vh;
}

.skyimg{
    height: 100vh;
    width: 99vw;
}

.skycontent{
    position: relative;
    bottom: 87vh;
    left: 10vw;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    width: 400px;
}

.textimg{
    width: 50vw;
}

.quoteimg{
    width: 40vw;
}

.authorimg{
    width: 8vw;
}

.sky1{
    position: absolute;
    bottom: 10vh;
    left: 15vw;
    width: 80vw;
    height: 90vh;
    z-index: 5;
}

@media only screen and (min-width: 1300px) {
    .skybanner{
        margin-bottom: 20px;
    }
}

/* @media only screen and (max-width: 520px) {
    .herobanner{
        margin-bottom: 20px;
    }
} */