.skybanner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    position: relative;
    z-index: -20;
    top: 100px;
    margin-bottom: 80px !important;
}

.skymain{
    height: 100vh;
    width: 98vw;
}

.imgSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 105vh;
}

.skyimg{
    height: 100vh;
    width: 98vw;
}

.skycontent{
    position: relative;
    bottom: 87vh;
    left: 10vw;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    width: 40vw;
}

.sky1{
    position: absolute;
    bottom: 10vh;
    left: 15vw;
    width: 80vw;
    height: 90vh;
    z-index: 5;
}

@media only screen and (min-width: 1300px) {
    .skybanner{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    /* .skycontent{
        width: ;
    } */
    /* .sky1 {
        bottom: 5vh;
    } */
}