.maindiv {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 70px;
    background-color: #F2F2F2;
}


.headingfont {
    font-size: 3vw;
    font-weight: 700;
    color: #08132D;
}

.getstartedbtn {
    width: fit-content;
    background-color: #265EE1;
    color: white;
    margin-top: 3rem;
}

.craftimg {
    width: 100%;
}

@media only screen and (max-width: 990px) {
    .craftimg {
        margin-top: 3rem;
    }

    .getstartedbtn {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .craftimg {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .maindiv {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 425px) {
    .getstartedbtn {
        margin-top: 1rem;
    }
}