.maindiv {
    height: 200px;
    padding: 10px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 70px;
    background-color: #F2F2F2;
}

.heading {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #939DB4;
}

.brands {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 55px;
    width: 150px;
}

@media only screen and (max-width: 425px) {
    .maindiv {
        height: 130px;
    }
}

@media only screen and (max-width: 990px) {
    .maindiv {
        padding: 20px;
        padding-bottom: 0;
        height: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .brands {
        margin: 1.5rem;
        height: 40px;
        width: 80px;
    }

}

@media only screen and (max-width: 600px) {
    .brands {
        margin: 1.5rem;
    }
}

@media only screen and (max-width: 425px) {
    .brands {
        margin: 1rem;
        height: 30px;
        width: 70px;
    }
}