.container {
    position: relative;
    height: 50vh;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
  }
  
  .image {
    width: 100%;
    height: 100%;
  }
  
  .content {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  .registerbtn{
    border: none;
    border-radius: 5px;
    background-color: #FAFAFA;
    color: #265EE1;
    padding: 10px 20px;
  }

  .contactbtn{
    border: 2px solid #FAFAFA;
    border-radius: 5px;
    background-color: transparent;
    color: #FAFAFA;
    padding: 10px 20px;
  }
  