.footer {
    background: #FFF;
    box-shadow: 0px 4px 24px 0px #C0C0C01F;
    padding-left: 60px;
    padding-right: 60px;
    height: 18vh;
    width: 100%;
}

.logoimg {
    height: 42px;
    width: 189px;
}

.content {
    font-size: 16px;
    font-weight: 400;
    color: #5F6D7E;
    margin-bottom: 0;
    margin-top: 16px;
}
.footermenubtn{
    color: #08132D;
    font-size: 16px;
    font-weight: 600; 
}