.maindiv {
    height: 50vh;
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 560px;
    padding-right: 70px;
    background-color: #F2F2F2;
  }
  
.learnmorebtn {
    background-color: #265EE1;
    color: white;
}

.headingfont {
    color: #08132D;
    font-size: 34px;
    font-weight: 700;
}

.content {
    color: #4C5877;
    font-size: 18px;
    font-weight: 400;
}