.maindiv {
    padding-left: 70px;
    padding-right: 70px;
    background-color: #F2F2F2;
    height: 50vh;
}

.learnmorebtn {
    background-color: #265EE1;
    color: white;
    width: fit-content;
}

.headingfont {
    color: #08132D;
    font-size: 34px;
    font-weight: 700;
}

.content {
    color: #4C5877;
    font-size: 18px;
    font-weight: 400;
}

.card {
    text-align: start;
    border: none;
    border-radius: 19px;
    width: 360px !important;
    margin-right: 0 !important;
}
.cardbox{
    border: 0 !important;
    border-radius: 19px;
    padding: 20px;
}
.cardcontent {
    color: #4C5877;
    font-size: 14px;
    font-weight: 400;
}

.cardheading {
    font-size: 18px;
    font-weight: 600;
}

.roundedImage{
    width: 72px !important;
    height: 72px !important;
    border-radius: 50% !important;
}

@media only screen and (max-width: 768px) {
    .headingfont {
        font-size: 28px;
    }
    .maindiv{
        padding-left: 30px;
        padding-right: 30px;
    }
    .content {
        font-size: 16px;
    }
}