@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background-color: #FFF;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

.btn:focus {
  box-shadow: none;
}

h1 {
  font-family: Montserrat, sans-serif;
  /* Apply Montserrat font to h1 elements */
}