.maindiv {
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #51A2FC 0%, #0074F3 100%) !important;
    background-color: (7991.24% 7991.24% at -5325.55% 199.45%, #FFFFFF 0%, #FCFCFC 29.7%, #F3F3F3 49.2%, #E4E4E4 65.8%, #cfcfcf83 80.7%, #b4b4b46e 94.5%, #a7a7a767 100%)
}

.map {
    height: 100%;
    width: 100%;
}

.map g path {
    stroke: #50A2FC;
}

.mapContainer svg g path:focus {
    outline: transparent;
}

.mapContainer svg g path{
    fill: linear-gradient(red, yellow);
}

.mapContainer .rsm-svg .rsm-geographies .rsm-geography {
    fill: red;
}

.mapContainer{
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
}

.headingfont {
    color: #FAFAFA;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.content {
    color: #FAFAFA;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}